
.create-account,
.header{
    width: 100%;
    margin: 30px auto;
}

.title {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 12px;
    font-weight: 300;
    line-height: 1.2;
}

form {
    display: flex;
    flex-direction:column;
}

.buttons {
    margin-top: 12px;
    display: block;
    text-align: center;
}

.buttons button{
    width: 200px;
    cursor: pointer;
}

.create-account a {
    margin: 12px 0px;
}

.buttons button:hover,
.create-account a:hover{
    transition: color;
    background-color: rgb(40, 114, 224);
    color: white;
}

.buttons button + button{
    margin-left: 12px;
}

